@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.movie-title{
  text-align: center;  
  margin:15px;
  font-family: 'Special Elite', cursive;
}

#movies{
 display: flex;
 flex-wrap: wrap;
 text-align: left;
 justify-content: center;

}

.description {
  height: 250px;
  text-align: justify;
}

.locationText{
font-size: 10px;
line-height: 8px;
}

.card-header{
  display: block;
}

.movie {
  margin: 10px;
}

.card-header {
  text-align: center;
}

.card-img-top{
  max-height: 429px;
}